.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
lib/l10n/gen/
.env
env.json
*.iml
.idea/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/local.properties
widgetbook/.dart_tool/
widgetbook/build/
test_shots/goldens/

.DS_Store
